@import '../styles/variables';
@import '../styles/mixins';

@include opacity-mixin(img-op-anim, 0, 1);

#gallery {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 20%;
  top: 50%;
  user-select: none;
}

#gallery > .img {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

@media only screen and (max-width: 1000px) {
  #gallery {
    .img {
      width: 50%;
    }
  }
}