@import '../styles/variables';
@import '../styles/mixins';

@include opacity-mixin(ooc-fadein, .4, 1);

.ooc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
  background: $ooc-bg;
  animation: ooc-fadein 1s;
  .text-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: $menu-border-light;
    background-color: $ooc-bg-color;
    color: $text-color;
    text-shadow: $profile-text-sh;
    .title {
      font-size: 1.5em;
      text-shadow: $ooc-title-shadow;
    }
    .text {
      font-size: 1.2em;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .ooc {
    overflow-y: scroll;
    padding-bottom: 150px;
  }
}