@import '../styles/variables';
@import '../styles/mixins';

@include opacity-mixin(profile-fadein, .4, 1);

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  background: $profile-bg;
  color: $profile-text-color;
  font-size: 1.3em;
  padding: 20px;
  animation: profile-fadein 2s;
  padding-bottom: 100px;
  .profile-info {
    display: flex;
    flex-direction: column;
    text-shadow: $profile-text-sh;
    max-width: 50%;
    align-items: center;
    img {
      width: 200px;
      height: auto;
      border: $image-border;
      border-radius: 0.2em;
      box-shadow: $profile-pic-sh;
      -webkit-box-shadow: $profile-pic-sh;
    }
  }

  .profile-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .widget-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-flow: row wrap;
    .widget {
      display: flex;
      height: 5em;
      width: 7em;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      border-radius: 0.5em;
      border: $menu-border;
      background-color: $menu-link-bg;
      background-image: $bg-img;
      text-shadow: $profile-widget-sh;
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.1);
        text-shadow: $menu-link-hover-sh;
      }
    }
  }
  
  .text-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 1%;
    margin-top: 30%;
    border-radius: 0.5em;
    border: $menu-border;
    background-color: $menu-link-bg;
    background-image: $bg-img;
    text-shadow: $profile-text-sh;
    transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    div {
      padding: 10px;
    }
  }
  span {
    margin: 2%;
    font-family: $font-title;
    font-size: 1.5em;
    text-shadow: $profile-text-sh;
  }
}

@media only screen and (max-width: 1000px) {
  .profile {
    font-size: .8em;
    flex-direction: column;
    overflow-y: scroll;
    .profile-info {
      max-width: 100%;
      padding: 10px;
    }
    
    .profile-menu {
      width: 100%;
      height: auto;
      padding-bottom: 100px;
    }
    
    .text-page {
     margin-top: 1%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .profile {

    .widget-menu {
      flex-flow: column nowrap;
      padding-bottom: 50px;

      .widget {
        width: 40vw;
        height: 4em;
      } 
    } 
  }
}