@import '../styles/variables';
@import '../styles/mixins';

@include opacity-mixin(connect-fadein, .6, 1);

.connect {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  animation: connect-fadein 1s;
  background: $connect-bg;
  .text-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 1%;
    padding: 1em;
    border-radius: 0.5em;
    border: $menu-border-light;
    background-color: $connect-bg-color;
    color: $text-color;
    text-shadow: $profile-text-sh;
    .title {
      font-size: 2.2em;
      text-shadow: $connect-title-shadow;
    }
    .text {
      font-size: 1.5em;
    }
  }
}