.gallery .img {
  width: 20em;
  padding: 5px;
  border: 1px solid #1b1b1b;
  background-color: teal;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
    border: 1px solid #1b1b1b;
  }
}