@import '../styles/variables';
@import '../styles/mixins';

@include opacity-mixin(img-op-anim, 0.2, 1);

.gallery {
  display: flex;
  flex-flow: wrap;
  height: inherit;
  background-color: $image-bg-color;
  align-content: flex-start;

  .img {
    width: 19.5em;
    padding: 0.2em;
    height: auto;
    img {
      max-width: 100%;
      border-radius: 0.5em;
      border: $image-border;
      animation: img-op-anim 2s ease;

      &:hover {
        box-shadow: $boxshadow-global;
      }
    }
  }

  .focus-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    border: $image-border;
    background-color: $image-bg-color;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 0.5em;
      border: $image-border;
      &:hover {
        box-shadow: $boxshadow-global;
      }
    }
  }
}