@import '../styles/variables';

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .img {
    width: 20em;
    padding: 5px;
    border: $image-border;
    background-color: $image-bg-color;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 0.5em;
      border: $image-border;
    }
  }

  .focus-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    border: $image-border;
    background-color: $image-bg-color;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 0.5em;
      border: $image-border;
    }
  }
}