@import '../styles/variables';

.menu {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $font-title;
  font-size: 1em;
  background-image: $menu-bg-image;
  background-color: $menu-bg-color;
  border-bottom: $menu-link-border;
  .menu-link {
    background: $menu-link-bg;
    border: $menu-border;
    border-radius: .2em;
    padding: 5px;
    font-family: $font-menu;
    color:  $menu-font;
    background-image: $bg-img;
    text-shadow: $menu-link-sh;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      text-shadow: $menu-link-hover-sh;
    }
  }
}

.menu-header {
  display: flex;
  background-image: $menu-bg-image;
  background-color: $menu-bg-color;
  text-shadow: $title-shadow;
  justify-content: center;
  font-family: $font-title;
  font-size: 1.5em;
  word-break: keep-all;
}



@media only screen and (max-width: 1000px) {
  .menu {
    font-size: 1em;
  }
  .menu-header {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 500px) {

  .menu {
    font-size: .8em;
  }
  .menu-header {
    font-size: 1em;
  }
}