@import '../styles/variables';

.menu {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 5%;
  padding-top: 0;
  font-family: $font-title;
  font-size: 2em;
  height: 8%;
  background-image: $menu-bg-image;
  background-color: $menu-bg-color;
  border-bottom: $menu-link-border;
  .menu-link {
    background: $menu-link-bg;
    border: $menu-border;
    border-radius: .2em;
    font-size: 1em;
    padding: 5px;
    font-family: $font-menu;
    text-shadow: $menu-link-sh;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      text-shadow: $menu-link-hover-sh;
    }
  }
}

.menu-header {
  display: flex;
  background-image: $menu-bg-image;
  background-color: $menu-bg-color;
  text-shadow: $title-shadow;
  height: 10%;
  justify-content: center;
  font-family: $font-title;
  font-size: 3em;
  word-break: keep-all;
}