@import '../styles/variables';

.menu {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  font-family: $font-title;
  font-size: 2em;
  height: 8%;
  background-image: $menu-bg-image;
  background-color: $menu-bg-color;
  .menu-link:hover {
    color: red;
  }
}

.menu-header {
  display: flex;
  background-image: $menu-bg-image;
  background-color: $menu-bg-color;
  justify-content: center;
  font-family: $font-title;
  font-size: 3em;
  word-break: keep-all;
}