@import '../styles/variables';
@import '../styles/mixins';

@include opacity-mixin(bg-fadein, 0, 1);

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background: $profile-bg;
  background-size: 100% auto;
  animation: bg-fadein 1s;
  overflow: hidden;
  color: $text-color;
  font-size: 1.3em;
  padding: 2%;
  .profile-info {
    text-shadow: $profile-text-sh;
    max-width: 50%;
    img {
      width: 400px;
      height: auto;
      border: $image-border;
      border-radius: 0.2em;
      box-shadow: $profile-pic-sh;
      -webkit-box-shadow: $profile-pic-sh;
    }
  }

  .profile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    .widget-menu {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-flow: row;
      flex-wrap: wrap;
      .widget {
        display: flex;
        height: 125px;
        width: 200px;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.5em;
        border: $menu-link-border;
        background-color: $menu-link-bg;
        text-shadow: $profile-text-sh;
        transition: all .2s ease-in-out;
        &:hover {
          transform: scale(1.1);
          text-shadow: $menu-link-hover-sh;
        }
      }
    }

    .text-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      border-radius: 0.5em;
      border: $menu-link-border;
      background-color: $menu-link-bg;
      text-shadow: $profile-text-sh;
      transition: all .2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      div {
        padding: 10px;
      }
    }
  }
}
